# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin_output_*

# token or password
token.mat

# github repo
machine_learning/ImageNetClassification_DCNN/AlexNet
machine_learning/ImageNetClassification_DCNN/imagenet
machine_learning/rcnn/Detectron
machine_learning/rcnn/fast-rcnn

# logs file
logs/

# build output file
__pycache__

# download data
data/
